.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header span a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.app-header span a img {
  width: 90px;
}

.title-group a {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  ;
}

.title-group i {
  color: white;
  padding-left: 8px;
}
