<mat-toolbar class="create-product-toolbar">
  <span>Novo Produto</span>
  <button
    mat-flat-button
    color="primary"
    (click)="createProduct()"
  >Salvar
  </button>
</mat-toolbar>

<mat-card class="create-product-mat-card">
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        name="name"
        required
        [(ngModel)]="product.name">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Preço (R$)"
        name="price"
        required
        [(ngModel)]="product.price"
      >
    </mat-form-field>
  </form>
</mat-card>
