.create-product-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-product-mat-card{
  margin-top: 24px;
}

form {
  display: flex;
  flex-direction: column;
}
