/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --red-color-01: rgb(223, 31, 31);
  --white-color-01: rgb(255, 255, 255);
}

/* custom */

.red {
  color: var(--red-color-01);
}

.v-middle {
  vertical-align: middle;
}
